ul{
    list-style: none;
    padding: 0
}
.full_width{
    width: 100%;
}
.white_bgr{
    background-color: #fff;
}
body{
    /*min-height: calc(100vh - 20px);*/
    /*position: relative;*/
}
header.main_header{
    height: 60px;
    margin-top: 20px;
    margin-bottom: 16px;
}
header.main_header .search{
    margin-top: 10px;
}
header.main_header .search button{
    padding: 5px 10px;
    border: 1px solid #05b2e9;
    background: #05b2e9;
    color: #fff;
    font-weight: bold;
    border-radius: 0 4px 4px 0;
    height: 36px;
    width: 55px;
}
header.main_header .search input{
    width: 500px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #d2d2d2;
    border-right: none;
    height: 36px;
    margin-right: -4px;
    padding: 0 10px;
    outline: none;
    margin-top: -8px;
}

@media only screen and (max-width : 1200px){
    header.main_header .search input{
        width: 390px;
    }
}

header.main_header .login{
    margin-top: 7px
}
section.container{
    min-height: calc(100vh - 484px);
}
footer{
    margin-top: 50px;
}
.breadcrumb_top{
    background-color: #fff;
    padding-left: 0;
    margin-bottom: 0;
}
.bh_nav{
    border: 1px solid #ddd;
    border-top: 0;  
}
.bh_nav ul li{
    padding: 6px 0;
    border-top: 1px solid #ddd;
}
.bh_nav ul li a{
    color: #565656;
}
.row_title_container{
    padding-top: 10px;
    padding-bottom: 10px;
}
.row_title{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.row_title h3{
    margin: 0;
}
.row_title a{
    line-height: 26px;
}
#index_main_content > .row:not(:first-child){
    margin-top: 20px;
    margin-bottom: 20px;
}
#show_book_main_content .book_description pre{
    white-space: pre-line;
    font-family: inherit;
    padding: 0;
    font-size: inherit;
    word-break: break-word;
    text-align: justify;
    background-color: #fff;
    border: none;
}
#show_book_main_content > .row{
    padding: 30px 0;
}
#show_book_main_content > .book_img img{
    display: inline-block;
}
#show_book_main_content .book_description{
    margin-top: 30px;
}
#show_book_main_content .book_description h4{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 30px;
}
#show_book_main_content > .book_comment textarea{
    padding: 5px;
    border: 1px solid #ddd;
    height: 100px;
    resize: none;
    margin-bottom: 10px;
}
#show_book_main_content ul.list_reviews > li{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
#show_book_main_content ul.list_reviews .row{
    margin-left: 0;
    margin-right: 0;
}
#user_main_content{
    padding-top: 20px;
    padding-bottom: 20px;
}

/****************  TYPEAHEAD CSS  **********************/
/*.tt-dropdown-menu {
    border: 1px solid #ddd;
    width: calc(100% + 5px);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    border-top: none;
}
.tt-dropdown-menu p{
    margin: 0;
}
.tt-suggestion{
    padding: 5px 8px;
    background-color: #f4fcff;
}
.tt-is-under-cursor{
    background-color: #05b2e9!important;
    color: #fff
}*/
.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: inherit;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: calc(100% + 4px);
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
.tt-highlight{
    color: #05b2e9;
}
/***************** END TYPEAHEAD CSS *****************/
.rate {
    width: 100%;
    height: 20px;
    cursor: pointer;
    position: absolute;
    margin-top: -20px;
}
.review_content pre {
    white-space: pre-line;
    font-family: inherit;
    padding: 0;
    font-size: inherit;
    word-break: break-word;
    background-color: #fff;
    border: none;
    margin: 0;
    line-height: 23px;
}
.text-f-uppercase:first-letter{
    text-transform: uppercase;
}
.review_content {
    border-left: 1px solid #ddd;
}
.review_content .reply_area{
    border-top: 1px solid #ddd;
    width: 245px;
    margin-top: 5px;
    padding-top: 5px;
}
.review_content .reply_area a{
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    padding-right: 10px;
}
.review_content .reply_area a:not(:first-child){
    padding-left: 10px;
    border-left: 1px solid #ddd;
}
.review_content .reply_area a:hover{
    color: #05b2e9;
}
.user_comment .timestamp{
    color: #a0a0a0;
    font-size: 13px;
}
.user_comment p{
    margin-top:10px;
    margin-bottom: 0;
}
#comment_content{
    border-radius: 4px;
}
.list_reviews {
    margin-top: 20px;
}
/*footer-height*/
.footer_height{
    padding-bottom: 30px;
    border-top: 1px;
    padding-top: 30px;
    background: #E6E6E6;
}
.button_footer{
    margin-top: 10px;
}
.profile_img{
    border-radius: 4px;
}
.book_comment input[type="submit"], .book_comment button[type="submit"]{
    background-color: #05b2e9;
    border-color: #05b2e9;
    border-radius: 0;
}
.btn.btn-danger{
    background-color: #dc7976;
    border-color: #e07672;
    border-radius: 0;
}
ul.list_comments>li:first-child{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
ul.list_comments>li{
    margin-top: 15px;
}
ul.list_comments>li .timestamp{
    float: left;
    margin-left: 5px;
    font-size: 11px;
}
#user_main_content .table > tbody > tr > td{
    vertical-align:baseline;
}
@media only screen and (max-width: 992px){
    header.main_header .search input {
        width: 290px;
    }
}