
<!-- <div class="container"> -->
<footer class="footer_height">
                    <div class="col-md-12">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3 footer-nav">
                            <h4 class="hidden-xs hidden-sm">Hỗ trợ khách hàng</h4>
                            <ul>
                    
                                <li class="footer-link-mobile first">
                                    <a rel="nofollow" href="http://hotro.tiki.vn/hc/vi" target="_blank" title="Các câu hỏi thường gặp">Các câu hỏi thường gặp</a>
                                </li>
                                <li class="hidden-xs hidden-sm">
                                    <a rel="nofollow" href="http://hotro.tiki.vn/hc/vi/requests/new" target="_blank" title="Email">Gửi yêu cầu hỗ trợ</a>
                                </li>
                                <li class="footer-link-mobile">
                                    <a rel="nofollow" href="http://hotro.tiki.vn/hc/vi/categories/200126644" target="_blank" title="Hướng dẫn đặt hàng">Hướng dẫn đặt hàng</a>
                                </li>
                                <li class="footer-link-mobile">
                                    <a rel="nofollow" href="http://hotro.tiki.vn/hc/vi/categories/200123960" target="_blank" title="Phương thức vận chuyển">Phương thức vận chuyển</a>
                                </li>
                                <li class="footer-link-mobile last">
                                    <a rel="nofollow" href="/doi-tra-de-dang" target="_blank" title="Chính sách đổi trả hàng">Chính sách đổi trả</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-nav footer-account" id="footer-account">
                            <h4>Tài khoản của bạn</h4>
                            <ul>
                                <li>
                                    <a rel="nofollow" href="#" data-toggle="modal" data-target="#login-form" title="Đăng nhập">Đăng nhập</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="#" data-toggle="modal" data-target="#register-form" title="Đăng ký">Đăng ký</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3 footer-nav hidden-xs hidden-sm">
                            <h4>Về Tiki.vn</h4>
                            <ul>
                                <li>
                                    <a target="_blank" rel="nofollow" href="/gioi-thieu-ve-tiki" title="Giới thiệu Tiki.vn">Giới thiệu Tiki.vn</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="" target="_blank" title="Tuyển dụng">Tuyển Dụng</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="" target="_blank" title="Chính sách bảo mật">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="" target="_blank" title="Điều khoản sử dụng">Điều khoản sử dụng</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="" target="_blank" title="Hội Sách">Hội Sách Online</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="" target="_blank" title="Giới thiệu Tiki Xu">Giới thiệu Tiki Xu</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="/tu-van" target="_blank" title="Tiki Tư Vấn">Tiki Tư Vấn</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="/sach-b2b" target="_blank" title="Ưu đãi doanh nghiệp">Ưu đãi doanh nghiệp</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3 footer-nav hidden-xs hidden-sm">
                            <h4>Hợp tác & Liên kết</h4>
                            <ul>
                                <li>
                                    <a title="Quy chế hoạt động Sàn giao dịch TMĐT của Tiki.vn" rel="nofollow" href="/quy-che-hoat-dong-sgdtmdt" target="_blank">Quy chế hoạt động Sàn GDTMĐT</a>
                                </li>
                                <li>
                                    <a title="Ăn gì ở đâu" rel="nofollow" href="" target="_blank">Foody.vn - Ăn gì ở đâu</a>
                                </li>
                                <li>
                                    <a title="Đặt khách sạn giá rẻ" rel="nofollow" href="#" target="_blank">iVIVU.com - Đặt khách sạn giá rẻ </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Contact us</h4>
                    <form class="">
                      <div class="">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input type="text" class="form-control" id="login_username" placeholder="Username">
                            </div>
                            <span class="help-block has-error" id="email-error"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                    <input type="text" class="form-control" id="remail" placeholder="Email">
                                </div>
                                <span class="help-block has-error" data-error='0' id="remail-error"></span>
                            </div>
                        <textarea name="message" class="form-control" type="text" id="input-message" placeholder="Message"></textarea>
                      </div>  
                      <input type="submit" value="Submit" class="button_footer btn btn-primary" id="input-submit">
                    </form>
                </div>
                </div>
            
    </footer>